body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 20px 0;
}

.header_nav{
    margin-left: 238px;
    margin-right: 40px;
}

.header_li{
    position: relative;
}

.header_li a:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    transition: .7s;
}

.header_li:not(:last-of-type){
    margin-right: 28px;
}

.header_link{
    text-decoration: none;
    font-family: 'Poppins';  
    font-size: 13px;
    line-height: 14px;
    color: #444444;
}

.header_link:hover{
    font-weight: bold;
    transition: .7s;
}

.buttons{
    border: none;
    padding: 11px 18px;
    background-color: #575445;
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.button_basket{
    position: relative;
    width: 125px;
    height: 44px;
}

.header_img{
    position: absolute;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 34px;
    right: 165px;
}

.header_basket{
    position: absolute;
    top: 34px;
    right: 235px;
}

.header_number{
    position: absolute;
    color: #575445;
    top: 36px;
    right: 170px;
}

.exploration{
    text-align: left;
    padding: 200px 0 228px 120px;
    background-image: url(../img/exploration/1.png);
}

.v_pre_title{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #E6B939;
    margin-bottom: 10px;
}

.title{
    max-width: 416px;
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.v_title{
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin-bottom: 10px;
}

.v_text{
    max-width: 495px;
    font-family: 'Poppins';
    font-size: 17px;
    line-height: 25px;
    color: #CACCD1;
}

.about{
    position: relative;
}

.about_img{
   
    z-index: 3;
}

.about_fon_top{
    position: absolute;
    top: 0px;
    left: 620px;
    z-index: 2;
}

.about_fon_bottom{
    position: absolute;
    bottom: 0;
    right: 1300px;
    z-index: 1;
}

.about_v_text{
    max-width: 384px;
}

.carusel{
    margin-right: 88px;
}

.setting{
    position: relative;
    background-color: rgba(250, 250, 252, 1);
    padding: 99px 0 159px;

}

.setting_top{
    margin: 0 auto;
    text-align: center;
}

.setting_v_text{
    max-width: 538px;
    text-align: center;
    margin-bottom: 71px;
}

.grid_setting{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 110px 100px;
}

.items_setting{
    margin: 0 auto;
    text-align: center;
}

.items_setting_img{
    margin-bottom: 10px;
}

.items_setting_title{
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 24px;
    color: #575445;
    margin-bottom: 9px;
}

.items_setting_text{
    max-width: 287px;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #575445;
}

.setting_fon_top{
    position: absolute;
    right: 0px;
    top: 0px;
}


.setting_fon_bottom{
    position: absolute;
    left: 0px;
    bottom: 0;
}