#up{
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    bottom: 100px;
    right: 50px;
    background-color: rgba(230, 185, 57, 1);
    color: white;
    cursor: pointer;
}

#up span{
    position: absolute;
    top: 27%;
    left: 40%;
    display: inline-block;
    transform: rotate(-90deg);
}